[submodule "ros2_marvin/src/ros2_marvin/src/ur_description"]
	path = ros2_marvin/src/ros2_marvin/src/ur_description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description
[submodule "ros2_marvin/src/ros2_marvin/src/gazebo_ros2_control"]
	path = ros2_marvin/src/ros2_marvin/src/gazebo_ros2_control
	url = https://github.com/ros-simulation/gazebo_ros2_control.git
[submodule "ros2_marvin/src/ros2_marvin/src/moveit2"]
	path = ros2_marvin/src/ros2_marvin/src/moveit2
	url = https://github.com/ros-planning/moveit2.git
[submodule "ros2_marvin/src/ros2_marvin/src/moveit_msgs"]
	path = ros2_marvin/src/ros2_marvin/src/moveit_msgs
	url = https://github.com/ros-planning/moveit_msgs.git
